.span3
  .well.sidebar-nav
    %h3= t('.categories')
    %ul.nav.nav-list
      %li.nav-header Разделы
      %li= link_to "Категории", categories_path
      %li= link_to "Принтеры", "/path2"
      %li= link_to "Партенры", "/path3"
      %li= link_to "Новости", "/path3"